*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: var(--font-geist-sans), sans-serif;
}

body {
    background-color: var(--background);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a, button {
    line-height: 1.1;
}

h1, h2 {
    margin-bottom: 20px;
}

h3, h4, h5, h6 {
    margin-bottom: 15px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

@media (max-width: 768px) {
    
    h1 {
        font-size: 26px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 18px;
    }
}

p {
    line-height: 1.4;
    margin-bottom: 6px;
}

p, a, div {
    color: var(--text);
}

a[href^="tel"] {
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--accent);
    opacity: 1;
    transition: 0.3s opacity;
}

a:hover {
    opacity: 0.8;
    transition: 0.3s opacity;
}

html.light {
    --text: #06080a;
    --background: #fcfcfc;
    --background-secondary: #dddddd;
    --primary: #4273c7;
    --secondary: #84a8e7;
    --accent: #1962e0;

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;

    --filter-wrapper-background: #ebebeb;
    --filter-wrapper-border: #c2c2c2;
    --filter-checkbox-selected: #99b9f0;
    --filter-checkbox-not-selected: #dadada;
    --filter-checkbox-hover-selected: #6d8bc0;
    --filter-checkbox-hover-not-selected: #9e9e9e;
    --filter-btn: #1962e0;
    --filter-btn-hover: #164fb1;
    --filter-cancel-btn: #797979;
    --filter-cancel-btn-hover: #4d4d4d;

    --contribution-no: #d8d8d8; 
    --contribution-low: #8eb7fd; 
    --contribution-normal: #6b9ffa; 
    --contribution-medium: #4285f8; 
    --contribution-high: #1962e0;
    --contribution-border: #1962e060;
    --contribution-cell-border: #06080a;
}

html.dark {
    --text: #f5f7f9;
    --background: #060a0e;
    --background-secondary: #1a2027;
    --primary: #2c5db3;
    --secondary: #183d7b;
    --accent: #1962e0;

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;

    --filter-wrapper-background: #0b121a;
    --filter-wrapper-border: #28303a;
    --filter-checkbox-selected: #133161;
    --filter-checkbox-not-selected: #12181d;
    --filter-checkbox-hover-selected: #091f44;
    --filter-checkbox-hover-not-selected: #0b0f13;
    --filter-btn: #1962e0;
    --filter-btn-hover: #164fb1;
    --filter-cancel-btn: #8da0b6;
    --filter-cancel-btn-hover: #78899c;

    --contribution-no: #101316; 
    --contribution-low: #121f41; 
    --contribution-normal: #153268; 
    --contribution-medium: #19489e; 
    --contribution-high: #2259ee;
    --contribution-border: #0c47e93d;
    --contribution-cell-border: #eeeeee;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 16px;
    background: transparent; 
}

::-webkit-scrollbar-track {
    background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollthumb);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollthumb-hover);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

/* SELECTION */

::-moz-selection {  
    background: #3763ae77;
}

::selection {
    background: #3763ae77;
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
}

/* NAVBAR */

.navbar {
    margin-bottom: 25px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    height: 100%;
}

@media (max-width: 400px) {
    .navbar ul {
        gap: 14px;
    }
}

.navbar ul li {
    display: flex;
    align-items: center;
    height: 100%;
}

.toggle-theme-button {
	font-size: 18px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: var(--background-secondary);
	cursor: pointer;
	transition: 0.3s background-color;
}

@media (max-width: 400px) {
    .toggle-theme-button {
		font-size: 15px;
		width: 28px;
		height: 28px;
	}
}

/* CONTENT */

.render-index,
.render-notes,
.render-projects,
.render-contacts,
.render-project {
    display: none;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

section {
    padding: 25px 0;
}

section.resume,
section.contributions {
    padding-top: 0;
}

section ul {
    margin-left: 0; 
    padding-left: 0; 
    list-style: none; 
}

section ul li {
    margin-bottom: 3px; 
    position: relative; 
    padding-left: 15px;
}

section ul li::before {
    content: "•";
    position: absolute; 
    left: 0; 
    top: 0; 
}

section ul li ul li::before {
    content: "◦"; 
}

@media (max-width: 750px) {
    section ul li {
        margin-bottom: 6px; 
    }

    section ul li ul li {
        margin-bottom: 3px; 
    }
}

section .subjects > li {
    margin-bottom: 15px;
}

section .subjects > li > ul {
    margin-top: 6px;
}

section.project-section,
section.project-link {
    padding: 20px 0;
}

section.project-title img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--text);
    margin-top: 15px;
}

section .opacity,
section.page-projects .desc,
section.project-section p,
section.project-section li {
    opacity: 0.5;
}

section.project-link p {
    margin-bottom: 3px;
}

section.project-link p span {
    opacity: 0.5;
}

section.project-link p .bullet {
    margin-right: 5px;
}

section.page-projects li {
    margin-bottom: 15px;
}

section.page-projects li > p {
    margin-top: 3px;
}

section .breadcrumb {
    font-size: 14px;
    margin-bottom: 10px;
}

/* FOOTER */

footer {
    display: none;
    animation: fadeIn 0.5s forwards;
}

footer .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .copyright {
    height: fit-content;
    width: fit-content;
    opacity: 0.8;
    font-size: 14px;
}

/* FILTER */ 

.filter-wrapper {
    box-sizing: border-box;
    padding: 15px 20px;
    width: 100%;
    background-color: var(--filter-wrapper-background);
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
    transition: .3s linear;
    border: 1px solid var(--filter-wrapper-border);
}

.filter-wrapper.active {
    max-height: 600px;
    transition: .5s linear;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.filter-header .filter-title-wrapper {
    display: flex;
    gap: 5px;
}

.filter-header .filter-title-wrapper h4 {
    margin: 0;
    height: fit-content;
    font-weight: 500;
}

.filter-header .filter-title-wrapper .filter-counter {
    font-weight: 300;
    opacity: .75;
}

.filter-header .filter-arrow {
    height: 25px;
}

.filter-header .filter-arrow svg {
    stroke: var(--text);
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
    transition: .3s;
}

.active .filter-header .filter-arrow svg {
    stroke: var(--text);
    width: 25px;
    height: 25px;
    transform: rotate(0deg);
    transition: .3s;
}

.filter-category {
    margin-bottom: 15px;
}

.filter-category h4 {
    color: var(--text);
    opacity: .75;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 400;
    display: block;
    width: 100%;
}

.filter-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.filter-category label {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    color: var(--text);
    background-color: var(--filter-checkbox-not-selected);
    border: 1px solid #81818141;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
}

.filter-category label:hover {
    background-color: var(--filter-checkbox-hover-not-selected);
    border-color: var(--filter-checkbox-selected);
}

.filter-category input[type="checkbox"] {
    margin-right: 4px;
    width: 14px;
    height: 14px;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.filter-category input[type="checkbox"]:checked + label,
.filter-category label:has(input[type="checkbox"]:checked) {
    background-color: var(--filter-checkbox-selected);
    color: var(--text);
}

.filter-category label:has(input[type="checkbox"]:checked):hover {
    border-color: 1px solid var(--filter-checkbox-hover-selected);
}

.filter-alert {
    display: none;
    font-size: 14px;
    color: #fa5e55;
    margin-top: 30px;
}

.filter-btn {
    margin-top: 30px;
    display: flex;
    gap: 8px;
}

.filter-notes-btn,
.filter-projects-btn {
    display: inline-block;
    padding: 6px 12px;
    background-color: var(--filter-btn);
    color: #f5f7f9;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: none;
    border: 1px solid var(--filter-btn-hover);
}

.filter-notes-btn:hover,
.filter-projects-btn:hover {
    background-color: var(--filter-btn-hover);
    transition: none;
}

.cancel-notes-btn,
.cancel-projects-btn {
    display: inline-block;
    padding: 6px 12px;
    background-color: var(--filter-cancel-btn);
    color: var(--background);
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: none;
    border: 1px solid var(--filter-cancel-btn-hover);
}

.cancel-notes-btn:hover,
.cancel-projects-btn:hover {
    background-color: var(--filter-cancel-btn-hover);
    transition: none;
}

@media (max-width: 480px) {
    
    .filter-category label {
        padding: 3px 6px;
        font-size: 12px;
    }
}

/* GRAPH */

.contributions {
    position: relative;
}

.contributions-number-wrapper {
    opacity: .75;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 0;
}

.contributions.hidden,
.contributions-number-wrapper.hidden {
	opacity: 0;
	transform: translateY(20px);
}

.contributions.visible,
.contributions-number-wrapper.visible {
  	animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

.graph-wrapper {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border: 1px solid var(--background-secondary);
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.right-gradient,
.left-gradient {
    display: none;
}

@media (max-width: 800px) {
    .graph-wrapper {
        width: calc(100% - 50px);
        max-width: 750px;
    }

    .right-gradient {
        display: block;
        position: absolute;
        height: calc(100% - 52px);
        left: 26px;
        top: 26px;
        width: 20px;
        background: linear-gradient(90deg, var(--background) 0%, rgba(218,218,218,0) 100%);
        border-radius: 5px 0 0 5px;
    }
    
    .left-gradient {
        display: block;
        position: absolute;
        height: calc(100% - 52px);
        right: 26px;
        top: 26px;
        width: 20px;
        background: linear-gradient(90deg, rgba(218,218,218,0) 0%, var(--background) 100%);
        border-radius: 0 5px 5px 0;
    }
}

#contribution-calendar {
    background: var(--background);
    width: 705px;
    height: fit-content;
    margin-left: 10px;
}

@media (max-width: 800px) {
    #contribution-calendar {
        width: 715px;
    }
    
}

.github-tag {
    font-size: 12px;
    position: absolute;
    left: 55px;
    bottom: 23px;
}

.contribution-border {
    stroke: var(--contribution-border);
    stroke-width: 1px;
}

.contribution-cell:hover {
    stroke: var(--contribution-cell-border);
    stroke-width: 1px;
}

.tooltip {
    position: absolute;
    background: var(--background);
    padding: 8px 10px;
    border: 1px solid var(--background-secondary);
    border-radius: 6px;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    pointer-events: none;
    z-index: 1000;
}

.day-label {
    font-size: 12px;
    fill: var(--text);
}

.month-label {
    font-size: 12px;
    fill: var(--text);
}

.legend-label {
    font-size: 12px;
    fill: var(--text);
}